/node_modules
/public/hot
/public/storage
/public/images/*
/public/exports/*
/storage/*.key
/storage/app/*.*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
Procfile
.env.example
.editorconfig
.idea
.styleci.yml
Dockerfile